.bg_img{
    background-image: url("https://telegra.ph/file/49822e5aa4f067d0ce936.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.two{
    background-image: url("https://telegra.ph/file/668fd7b92bc734dd1f373.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.three{
    background-image: url("https://telegra.ph/file/5515dcb89c01171be1a70.png");
    background-size: contain;
    background-repeat: no-repeat;
}