@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "InterMedium";
  src: url("./assets/fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "InterRegular";
  src: url("./assets/fonts/Inter-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

body{
  font-family: "InterRegular";
}


.container{
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
